.container {
    margin: auto;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > * {
    margin: 10px;
}

.container > input {
    /* font-size: 5rem; */
    width: 80px;
    height: 80px;
}

.container > label {
    font-size: 3rem;
}